@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

/* .-.-.-.-.-.-.-.-.-.-.-.-.-. GENERAL .-.-.-.-.-.-.-.-.-. */

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
    background: #eee;
}

main {
    max-width: 520px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    color: rgba(0,0,0,.4);
    font-size: 1.2rem;
    margin: 1rem 0;
}

/* .-.-.-.-.-.-.-.-.-.-.-.-.-. //END GENERAL .-.-.-.-.-.-.-.-.-. */

/* .-.-.-.-.-.-.-.-.-.-.-.-.-. FIGURE .-.-.-.-.-.-.-.-.-. */

main figure {
    margin: 0;
    padding: 1rem;
}

main figure svg > * {
    opacity: 0;
}

main figure svg #ground             { opacity: 1; }
main figure.scaffold svg #scaffold  { opacity: 1; }
main figure.head     svg #head      { opacity: 1; }
main figure.body     svg #body      { opacity: 1; }
main figure.arms     svg #arms      { opacity: 1; }
main figure.legs     svg #legs      { opacity: 1; }

/* .-.-.-.-.-.-.-.-.-.-.-.-.-. //END FIGURE .-.-.-.-.-.-.-.-.-. */


/* .-.-.-.-.-.-.-.-.-.-.-.-.-. FOOTER .-.-.-.-.-.-.-.-.-. */

footer {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}

footer ul.nomatch {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 2rem;
    font-size: 1.2rem;
    opacity: .4;
    list-style: none;
}

footer ul.nomatch li {
    height: 1.4rem;
    margin: 0 .25rem;
}

footer ul.word {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
}

footer ul.word li {
    width: 2rem;
    height: 2rem;
    display: flex;
    padding: .5rem .25rem;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #222;
    margin: 0 .25rem;
    background: rgba(0,0,0,.1);
}

footer p {
    display: flex;
    justify-content: center;
}

/* .-.-.-.-.-.-.-.-.-.-.-.-.-. //END FOOTER .-.-.-.-.-.-.-.-.-. */

/* .-.-.-.-.-.-.-.-.-.-.-.-.-. STYLING ON BUTTONS .-.-.-.-.-.-.-.-.-. */

i {
    font-size: 1.3rem;
    margin-left: 0.6rem;
}

/* .-.-.-.-.-.-.-.-.-.-.-.-.-. //END STYLING ON BUTTONS .-.-.-.-.-.-.-.-.-. */

/* .-.-.-.-.-.-.-.-.-.-.-.-.-. SECTION GAME OVER .-.-.-.-.-.-.-.-.-. */

section.game-over {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.9);
    z-index: 999;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

section.game-over.show {
    display: flex;
}

.game-over > h1 {
    font-size: 6rem;
    margin: 0;
}

.game-over > p {
    font-size: 2rem;
    color: white;
    margin: 0;
}

.game-over > a {
    background: white;
    color: #222;
    text-decoration: none;
    padding: 1rem 2rem;
    margin-top: 4rem;
    border-radius: .25rem;
    opacity: .8;
}

.game-over > a:hover {
    opacity: 1;
}

/* .-.-.-.-.-.-.-.-.-.-.-.-.-. //END SECTION GAME OVER .-.-.-.-.-.-.-.-.-. */

/* .-.-.-.-.-.-.-.-.-.-.-.-.-. SECTION GAME WIN .-.-.-.-.-.-.-.-.-. */

section.game-win {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #009900;
    z-index: 999;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

section.game-win.show {
    display: flex;
}

.game-win > h1 {
    font-size: 6rem;
    margin: 0;
}

.game-win > a {
    background: white;
    color: #222;
    text-decoration: none;
    padding: 1rem 2rem;
    margin-top: 4rem;
    border-radius: .25rem;
    opacity: .8;
}

.game-win > a:hover {
    opacity: 1;
}

.game-win > p {
    color: #fff;
}

/* .-.-.-.-.-.-.-.-.-.-.-.-.-. //END SECTION GAME WIN .-.-.-.-.-.-.-.-.-. */

/* .-.-.-.-.-.-.-.-.-.-.-.-.-. SECTION RESET GAME .-.-.-.-.-.-.-.-.-. */

section.reset-game {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.9);
    z-index: 999;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

section.reset-game.show {
    display: flex;
}

.reset-game > h1 {
    font-size: 6rem;
    margin: 0;
}

.reset-game > a {
    background: white;
    color: #222;
    text-decoration: none;
    padding: 1rem 2rem;
    margin-top: 4rem;
    border-radius: .25rem;
    opacity: .8;
}

.reset-game > a:hover {
    opacity: 1;
}

.reset-game > p {
    color: #fff;
}

/* .-.-.-.-.-.-.-.-.-.-.-.-.-. //END SECTION RESET GAME .-.-.-.-.-.-.-.-.-. */

/* .-.-.-.-.-.-.-.-.-.-.-.-.-. STYLING FOR KEYBOARD .-.-.-.-.-.-.-.-.-. */

.keyboard {
    font-weight: 500;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.key {
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    padding: 0.5rem 1rem;
}

.key:hover {
    background-color: #ddd;
}

.active {
    display: none;
}

/* .-.-.-.-.-.-.-.-.-.-.-.-.-. //END STYLING FOR KEYBOARD .-.-.-.-.-.-.-.-.-. */

/* .-.-.-.-.-.-.-.-.-.-.-.-.-. SECTION SCORE .-.-.-.-.-.-.-.-.-. */

.score {
    display: flex;
}

/* .-.-.-.-.-.-.-.-.-.-.-.-.-. //END SECTION SCORE .-.-.-.-.-.-.-.-.-. */

/* .-.-.-.-.-.-.-.-.-.-.-.-.-. STYLING FOR RESET BUTTON .-.-.-.-.-.-.-.-.-. */

#reset {
    width: 6.3rem;
    background-color: white;
    font-size: 0.9rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-self: center;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    cursor: pointer;
}

#reset.hover {
    background-color: #ddd;
}

/* .-.-.-.-.-.-.-.-.-.-.-.-.-. //END STYLING FOR RESET BUTTON .-.-.-.-.-.-.-.-.-. */

/* .-.-.-.-.-.-.-.-.-.-.-.-.-. RESPONSIVE .-.-.-.-.-.-.-.-.-. */

@media screen and (max-width: 600px) {
    .keyboard {
        flex-wrap: wrap;
    }
}

/* .-.-.-.-.-.-.-.-.-.-.-.-.-. //END RESPONSIVE .-.-.-.-.-.-.-.-.-. */